<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{index}" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Modification</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>


    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>

<body>

<h1>Modifier professeur</h1></br>
<div class="content" layout:fragment="content">
    <div class="form-group">
    <form action="#"
          th:action="@{/update/{id}(id=${professeur.id})}"
          th:object="${professeur}"
          method="post">
        <div class="col-3">
            <label class="form-label">Nom</label>
            <input class="form-control" type="text" th:field="*{nom}" id="nom" placeholder="Nom">
        </div>
        <!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
        <div class="col-3">
            <label class="form-label">Prénom</label>
            <input class="form-control" type="text" th:field="*{prenom}" id="prenom" placeholder="Prenom">
        </div>

        <div class="col-3">
            <label class="form-label">Email</label>
            <input class="form-control" type="email" th:field="*{email}" id="email" placeholder="Email">
        </div>

        <div class="col-3">
            <label class="form-label">Mot de passe</label>
            <input class="form-control" type="password" th:field="*{password}" id="password" placeholder="Mot de passe">
        </div>

        <div class="col-3">
            <label for="etat">Etat</label>
            <input class="form-control" type="checkbox" th:field="*{etat}" id="etat" placeholder="Etat">
        </div>


        <!--    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>-->
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Modifier">
            <input class="btn btn-danger" th:href="@{/professeur/getAll}" type="submit" value="Annuler"/>
        </div>
    </form>
    </div>
</div>
</body>
</html>